{% extends "../module.twig" %}
 
{% block content %}

	<div id="particles" width="640" height="480"></div>

	<div class="source">
		<video class="source__video" src="" autoplay></video>
	</div>
	
{% endblock %}