{% extends "../../_shared/twig/index.twig" %}
 	
{% block content %}

	<div id="delaunay">
	</div>

{% endblock %}

{% block sources %}https://github.com/mrgnou/lab/tree/master/src/canvas-delaunay{% endblock %}