#map {
	.n0 {
		top: 233px;
		left: 461px;
	}
	.n1 {
		top: 277px;
		left: 440px;
	}
	.n2 {
		top: 259px;
		left: 416px;
	}
	.n3 {
		top: 272px;
		left: 421px;
	}
	.n4 {
		top: 254px;
		left: 390px;
	}
	.n5 {
		top: 0px;
		left: 0px;
	}
	.n6 {
		top: 771px;
		left: 0px;
	}
	.n7 {
		top: 36px;
		left: 181px;
	}
	.n8 {
		top: 117px;
		left: 253px;
	}
	.n9 {
		top: 123px;
		left: 269px;
	}
	.n10 {
		top: 127px;
		left: 280px;
	}
	.n11 {
		top: 122px;
		left: 294px;
	}
	.n12 {
		top: 121px;
		left: 305px;
	}
	.n13 {
		top: 123px;
		left: 314px;
	}
	.n14 {
		top: 125px;
		left: 320px;
	}
	.n15 {
		top: 130px;
		left: 347px;
	}
	.n16 {
		top: 133px;
		left: 459px;
	}
	.n17 {
		top: 137px;
		left: 462px;
	}
	.n18 {
		top: 142px;
		left: 469px;
	}
	.n19 {
		top: 145px;
		left: 480px;
	}
	.n20 {
		top: 145px;
		left: 481px;
	}
	.n21 {
		top: 146px;
		left: 483px;
	}
	.n22 {
		top: 147px;
		left: 484px;
	}
	.n23 {
		top: 147px;
		left: 486px;
	}
	.n24 {
		top: 148px;
		left: 487px;
	}
}