{% extends "../../_shared/twig/index.twig" %}
 
{% block content %}

	<div id="particles" width="640" height="480"></div>

	<div class="source">
		<video class="source__video" src="" autoplay></video>
	</div>
	
{% endblock %}

{% block sources %}https://github.com/mrgnou/lab/tree/master/src/webgl-gpgpu-particles{% endblock %}