/*********************
GENERAL STYLES
*********************/

html {
	font-size: 10px;
}

::selection {
  background: #A3A3A3;
}
::-moz-selection {
  background: #A3A3A3; 
}

body {
	background-color: #1e1e1e;
	// background-color: white;
}

ul {
	padding: 0;
	margin: 0;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	//opacity: 0.05;
	color: $link-color;
	text-decoration: none;
	@include transition(color 200ms $easeOutQuad);

	&:focus {
		outline: none;
	}

	/* on hover */
	&:hover, &:focus {
		// @include transition(color 300ms $easeOutQuart);
		//opacity: 1;
		color: $white;//lighten($link-hover, 20%);
	}

	/* on click */
	&:active {
	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}

	&[disabled="disabled"] {
		position: relative;
		cursor: default;

		&::before {
			content: "";
			position: absolute;
			z-index: 1;
			top: 50%;
			height: 1px;
			width: 100%;
			background-color: $link-color;
			display: block;
			left: 0;
		}
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;
	font-family: $sans-serif;
	text-decoration: none;
	font-size: 7.8rem;
	line-height: 7rem;
	margin: 0 0 0 0;
	margin-left: -6px;
	// @include font-smoothing(on);
}

#content {
	width: 100%;
	// height: 100%;
	display: inline-block;
	// border: 10px solid white;
	box-sizing: border-box;

	font-size: 100%;
	line-height: $lineheight;
	color: $white;
	letter-spacing: 0.05em;
	@include font-smoothing(on);

	ul, p {
		font-size: 1.6rem;
		font-family: $serif;
	}

	section {
		margin-bottom: 8rem;
		width: span(8);
		margin-left: span(2);
		// overflow: hidden;

		&.references {
			margin-bottom: 10rem;
		}
	}

	li {
		list-style: none;
		margin: 1em 0;
	}
}

	.description {
		// display: none;
		// position: absolute;
		margin-top: 40vh;
	}

	.texture {
		display: none;
	}

	.background {
		@include transform(translate(-5%, 0));
		position: fixed;
		z-index: -1;
		top: 0; left: 0;
		opacity: 0;
	}

	.mask {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		background: white;
	}